* {
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
h2 {
  text-align: center;
  padding: 10px;
  color: #dc3545;
}
h3 {
  color: #28a745;
}
.habitCreator {
  flex-direction: column;
  row-gap: 10px;
}

.habitName {
  padding: 10px;
  border-radius: 2px;
  border: 0.5px grey solid;
  outline: none;
  width: 750px;
}
.addBtn {
  padding: 5px 15px;
  border-radius: 10px;
  border: 0.5px grey solid;
  font-size: 30px;
  cursor: pointer;
  background-color: #28a745;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  column-gap: 3px;
  row-gap: 20px;
}
.tab {
  position: relative;
  border: 1px grey solid;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  background-color: #8b828354;
}
.delete-habit {
  position: absolute;
  top: -15px;
  left: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.5px red solid;
  background-color: #dc3545;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.active {
  background-color: #28a745;
  color: white;
}
.days {
  flex-wrap: wrap;
  row-gap: 3px;
  column-gap: 3px;
  width: 850px;
  padding: 5px;
  margin: 0 auto;
}

.day {
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid gray;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 12px;
}
.day:hover {
  background-color: #28a746b6;
}
.completed {
  background-color: #28a745;
  color: white;
}
.missed {
  background-color: #dc3545;
  color: white;
}

@media (max-width: 750px) {
  .days {
    width: calc(100% - 10px);
  }
  .habitName {
    width: calc(100% - 50px);
  }
}
.counters {
  display: none;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 750px) {
  .counters {
    flex-direction: column;
    column-gap: 0;
    row-gap: 5px;
  }
}
.show {
  display: flex;
}
.streak-counter {
  color: #007bff;
}
footer {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 10px;
}
footer span {
  color: #28a745;
  margin-left: 2px;
}
